name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"      # هر روز اجرا بشه
  workflow_dispatch:         # امکان اجرای دستی

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Generate snake
        uses: Platane/snk@v3
        with:
          github_user_name: mohammad-ebrahimi-dev
          outputs: |
            output/github-contribution-grid-snake.svg
            output/github-contribution-grid-snake-dark.svg?palette=github-dark
            output/github-contribution-grid-snake.gif

      # این قسمت مهم بود → فایل‌ها رو توی شاخه output می‌ذاره و push می‌کنه
      - name: Push to output branch
        uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: output
          build_dir: output
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
